n8n-workflows/1-lead-intake-initial-contact.json
{
  "name": "solarLEADmax: Lead Intake & Initial Contact",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "lead-intake-webhook"
    },
    {
      "parameters": {
        "functionCode": "// Validate incoming lead data\nconst body = $input.item.json.body;\n\nconst required = ['name', 'phone', 'address', 'source'];\nfor (const field of required) {\n  if (!body[field]) {\n    throw new Error(`Missing required field: ${field}`);\n  }\n}\n\n// Normalize phone\nconst phone = body.phone.replace(/[^\\d+]/g, '');\nif (!phone.startsWith('+')) {\n  throw new Error('Phone must be in E.164 format (+1...)');\n}\n\nreturn {\n  json: {\n    name: body.name.trim(),\n    phone,\n    email: body.email?.toLowerCase().trim() || null,\n    address: body.address.trim(),\n    source: body.source.trim(),\n    monthly_bill: body.monthly_bill || null\n  }\n};"
      },
      "id": "validate-data",
      "name": "Validate Lead Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "={{$env.BACKEND_API_URL}}/api/leads/intake",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{$json.name}}"
            },
            {
              "name": "phone",
              "value": "={{$json.phone}}"
            },
            {
              "name": "email",
              "value": "={{$json.email}}"
            },
            {
              "name": "address",
              "value": "={{$json.address}}"
            },
            {
              "name": "source",
              "value": "={{$json.source}}"
            },
            {
              "name": "monthly_bill",
              "value": "={{$json.monthly_bill}}"
            }
          ]
        },
        "options": {}
      },
      "id": "post-to-backend",
      "name": "POST to Backend API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.deduped}}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-dedup",
      "name": "Check if Deduped",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "functionCode": "// Lead is new - initial contact will be sent by backend worker\n// Just return success response\nreturn {\n  json: {\n    success: true,\n    lead_id: $input.item.json.lead_id,\n    message: 'Lead created. Initial SMS will be sent shortly.'\n  }\n};"
      },
      "id": "new-lead-response",
      "name": "New Lead Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "functionCode": "// Lead already exists\nreturn {\n  json: {\n    success: true,\n    lead_id: $input.item.json.lead_id,\n    message: 'Lead already exists. No duplicate contact.'\n  }\n};"
      },
      "id": "dedup-response",
      "name": "Deduped Lead Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Lead Data": {
      "main": [
        [
          {
            "node": "POST to Backend API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST to Backend API": {
      "main": [
        [
          {
            "node": "Check if Deduped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Deduped": {
      "main": [
        [
          {
            "node": "Deduped Lead Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "New Lead Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Lead Response": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduped Lead Response": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true
  },
  "tags": ["solarLEADmax", "lead-intake"]
}
